html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#lit-connect-modal-container{
  z-index: 1000;
}
.lit-connect-modal-container{
  z-index: 1000;
}

#lcm-modal-overlay{
  z-index: 2000;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500&display=swap');